html {
  scroll-behavior: smooth;overflow-x: hidden;box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #f5f5f5;
    font-family: "Google Sans Flex", sans-serif;
    width:100%;
    overflow-x:hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body,
header,
nav,
main,
footer,
section,
div,
article {
    transition: all 0.3s ease-in-out;
}

.hero {
    min-height: 100vh;
    overflow:hidden;
    width:100%;
    max-width:100%;
    padding: 50px;
    background: url('../images/bg1.png');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color:#fff;
}

.hero-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.hero-top a{
    text-decoration:none;color: #fff;
    font-size:1.2rem;
}

.hero h1 {font-size: clamp(2.5rem, 8vw + 1rem, 12rem);
    margin: 0;
    line-height:0.8;
    font-weight:500;
}

.hero-bottom {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: flex-start;
}

.hero-bottom-left{
    justify-content:center;
    align-items:center;
    text-align:right;
    flex-direction:column;
}
.hero-bottom p {
    font-size: 1.2rem;
    line-height: 1.6;
    max-width:600px;
}

button {
    padding: 14px 30px;
    border: 1px solid #fff;
    border-radius:100px;
    background: transparent;
    color: white;
    cursor: pointer;transition: all 0.3s ease-in-out;font-family: "Google Sans Flex", sans-serif;
}

button a {
    color: white;
    text-decoration: none;
    text-transform:uppercase;
    font-weight:600;
}

button:hover, button:hover a{
    color:#ff6105;
}
button:hover{
    background-color: #fff;
    box-shadow: 1px 1px 50px 1px #fff;
}

@media (max-width:768px){
    .hero{
        justify-content: center;
        padding:30px;
    }
    .hero-top, .hero-bottom {
        flex-direction:column;
    }
    .hero-top h1{
        margin-top:10rem;
    }
    .hero-bottom h1{
        margin-bottom:10rem;
    }
    
}

.stats{
    margin:0 auto;
}

table {
    border-collapse: collapse;
    /* Prevents gaps in the borders */
    width: 100%;
}

th,
td {
    padding: 50px;
    text-align: left;
}

th{
    color:#ff6105;
    font-weight:500;
    font-size:clamp(1rem, 1vw + 1rem, 3rem);
}
td{
    font-size:1.2rem;
}
/* Styles only the cells inside the 1st and 2nd rows */
tr:nth-child(1) th,
tr:nth-child(1) td,
tr:nth-child(2) th,
tr:nth-child(2) td {
    border-bottom: 1px solid #ccc;
}

.services{
    background-color: #ff6105;
}











@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}